<h1>THIS IS A TEST</h1>
<h2>If you have made it this far... Welcome!</h2> 
<main>
    <p1>This is a soon-to-be blog about my personal journey into cybersecurity. My goal is to provide freely available resources, FAQs, and my own advice as someone building from the ground up.</p1>
    <p2>If you would like to check back in the next few weeks, this website will be updated with some (much needed) cosmetic enhancements.</p2> 
    <p3>In the meantime, please enjoy this picture of the cutest puppy ever:</p3>
</main>
<img src="https://gitlab.com/Christy-McSweeney/test-project2.0/-/raw/main/The_one_the_only_the_momo.png" alt="Wait... You can't see the puppy???" title="The cutest dog you've ever seen.">
